<p>
  What do you want to do next?
</p>
<button onclick="window.location.href='/display'">1 - List all recipes</button>
<button onclick="window.location.href='/add'">2 - Add a new recipe</button>
<button onclick="window.location.href='/remove'">3 - Remove a recipe</button>
<button onclick="window.location.href='/import'">4 - Import recipes from the Internet</button>
<button onclick="window.location.href='/mark'">5 - Mark a recipe as done</button>
